In [322]:
import pandas as pd
from collections import defaultdict
from dataclasses import dataclass, field
from glob import glob
import numpy as np
import math
import datetime as dt
from functools import partial, reduce
from typing import Callable
import pandas as pd
import pysam
from operator import methodcaller
from abc import ABC, abstractmethod
from collections import Counter
import re
import scipy.stats as stats

In [323]:

class Processing(ABC):
    '''Operations on pileup df'''
    @abstractmethod
    def operation():
        pass

class RemoveRedundantColumns(Processing):
    '''Compute Max'''
    
    def operation(df: pd.DataFrame) -> pd.DataFrame:
        for col in ['ref', 'seq']:
            if not df[f'{col}_n'].equals(df[f'{col}_t']):
                raise ValueError(f'{col} differs!')
            df[col] = df[f'{col}_n']
            del df[f'{col}_n']
            del df[f'{col}_t']
   
        return df

class RemoveRedundantColumns(Processing):
    '''Compute Max'''
    
    def operation(df: pd.DataFrame) -> pd.DataFrame:
        for col in ['ref', 'seq']:
            if not df[f'{col}_n'].equals(df[f'{col}_t']):
                raise ValueError(f'{col} differs!')
            df[col] = df[f'{col}_n']
            del df[f'{col}_n']
            del df[f'{col}_t']
   
        return df


def process_pile(df):
    # __subclasses__ will found all classes inheriting from Operations
    for step in Processing.__subclasses__():
        df = step.operation(df)

In [324]:
# def separate_indels_from_res(df: pd.DataFrame, sample_type: str) -> pd.DataFrame:
#     def find_indels_in_res(res):
#         def extract_indel(res, val):
#             indels = []
#             bits = res.strip().split(val)
#             if len(bits) > 1:
#                 res = ''
#                 for bit in bits:
#                     if bit[0].isdigit():
#                         indel_len = []
#                         for char in bit:
#                             if char.isdigit():
#                                 indel_len.append(char)
#                             else:
#                                 break
#                         indel_len = ''.join(indel_len)
#                         indel = bit[len(indel_len):int(indel_len) + len(indel_len)]
#                         indels.append(val + ':' + indel)
#                         res += bit[len(indel_len) + int(indel_len):]
#                     else:
#                         res += bit
#             return indels, res
#         ins, res = extract_indel(res, '+')
#         dels, res = extract_indel(res, '-')
#         indels = ins+dels
#         res = ''.join(char for char in res if char in '.,ATCGatcg*')
#         most_seen_indel = Counter(indels).most_common()[0] if indels else 'NA'
#         return pd.Series([res, most_seen_indel])
#     df[[f'{sample_type}_indel_free_res', f'{sample_type}_indels']] = df[f'res_{sample_type}_no_carrot'].apply(find_indels_in_res)
#     df[f'{sample_type}l1'] = df[f'{sample_type}_indel_free_res'].str.len() 
#     df[f'{sample_type}l2'] = df[f'qual_{sample_type}'].str.len()
#     if not df[f'{sample_type}l1'].equals(df[f'{sample_type}l2']):
#       raise ValueError(f'{sample_type}_indel_free_res and qual_{sample_type} should have same length!! {df[f"{sample_type}l1"].compare(df[f"{sample_type}l1"])}')
    
# #     return df

# ref_up = tmp_d.get('ref').upper()
# to_keep = ['.', ',', 'A', 'T', 'C', 'G', '*']  # keep * cuz have phred score...
# if i == 0:
#     res = ''.join([nuc for nuc in res if nuc.upper() in to_keep])
#     res = res.replace('.', ref_up).replace(',', tmp_d.get('ref').lower())
# else:
#     res = ''.join([nuc for nuc in res if nuc.upper() in to_keep])
#     res = res.replace('.', ref_up).replace(',', ref_up)
# if not len(res) == len(tmp_d.get('qual')):
#     print('not_same_len', len(res), len(tmp_d.get('qual')),
#             res, tmp_d, i)

NameError: name 'tmp_d' is not defined

In [328]:
import operator


Preprocessor = Callable[[pd.DataFrame, str], pd.DataFrame]

class DataSchema:
    AMOUNT = "amount"
    CATEGORY = "category"
    DATE = "date"
    MONTH = "month"
    YEAR = "year"

class PileSchema:
    AMOUNT = "amount"
    CATEGORY = "category"
    DATE = "date"
    MONTH = "month"
    YEAR = "year"

def create_df(pile):#: str, chrom: str, start: int, end: int) -> pd.DataFrame:
    '''Converts a genomic region of a pileup to a df'''
    keys = ['seq', 'pos', 'ref', 'reads', 'res', 'qual', 'pos_in_read', 'read_names', 'flags', 'map']#TODO drop 'pos_in_read', 'read_names',
    tabixfile = pysam.TabixFile(pile)
    df = pd.DataFrame([line.split('\t') for line in tabixfile.fetch()], columns=keys)
    df.set_index('pos', inplace=True)
    return df

def remove_redundant_column(df: pd.DataFrame, col_name: str) -> pd.DataFrame:

    if not df[f'{col_name}_n'].equals(df[f'{col_name}_t']):
        raise ValueError(f'{col_name} differs!')
    df[col_name] = df[f'{col_name}_n']
    del df[f'{col_name}_n']
    del df[f'{col_name}_t']
   
    return df

def create_SV_column(df: pd.DataFrame, sample_type: str) -> pd.DataFrame:
    df[f'SV_{sample_type}'] = df[f'res_{sample_type}'].str.count('^') + df[f'res_{sample_type}'].str.count('$')
    return df

def create_indel_column(df: pd.DataFrame, sample_type: str) -> pd.DataFrame:
    df[f'SV_{sample_type}'] = df[f'res_{sample_type}'].str.count('^') + df[f'res_{sample_type}'].str.count('$')
    return df

def remove_carrots_from_res(df: pd.DataFrame, sample_type: str) -> pd.DataFrame:
    # ^ (caret) marks the start of a read segment and the ASCII
    # of the character following `^' minus 33 gives the mapping quality
    def slice_and_dice(res):
        if '^' in res:
            if res.startswith('^'):
                res = ''.join([bit[1:] for bit in res.split('^')])
            else:
                res = ''.join([bit[1:] if j != 0 else bit for j, bit in enumerate(res.split('^'))])
        return res
    df[f'res_{sample_type}_no_carrot'] = df[f'res_{sample_type}'].apply(slice_and_dice)
    return df

#def remove_low_quality(df: pd.DataFrame, sample_type: str) -> pd.DataFrame:
def convert_to_upper(res, ref):
    assert ref.isupper()
    return res.replace(',', ref).replace('.', ref).replace('*', '').upper()

def remove_ref_from_tumour_res(res_n, res_t, ref):

    most_common_base_in_normal = Counter(convert_to_upper(res_n, ref)).most_common()[0][0]
    return convert_to_upper(res_t, ref).replace(most_common_base_in_normal, '')

def remove_positions_with_little_support_for_somatic_var(df: pd.DataFrame) -> pd.DataFrame:
    def putative_vars(res_t, res_n, ref):
        # res_t = convert_to_upper(res_t, ref)
        # res_n = convert_to_upper(res_n, ref)
        # most_common_base_in_normal = Counter(res_n).most_common()[0][0]
        res_t = remove_ref_from_tumour_res(res_n, res_t, ref)
        if res_t:
            return True if Counter(res_t).most_common()[0][1] > 4 else False
        return False
    return df[df.apply(lambda x: putative_vars(
        x['res_t_no_carrot'],
        x['res_n_no_carrot'],
        x['ref']),
        axis = 1
    )]
    
#tried complied regex, still slow
def separate_indels_from_res(df: pd.DataFrame, sample_type: str) -> pd.DataFrame:
    def find_indels_in_res(res):
        regex_result = re.findall("\+[0-9]+[ACGTNacgtn]+|\-[0-9]+[ACGTNacgtn]+", res)
        corected_regex_result = []#can't find other way to stop regex adding unrelated nucs at end
        for indel in regex_result:
            indel_len = ''.join(char for char in indel if char.isdigit())
            corected_regex_result.append(indel[0] + indel_len + ''.join(char for char in indel if char.isalpha())[:int(indel_len)])
        indel_count = Counter(corected_regex_result)
        for indel in indel_count.keys():
            res = ''.join(res.split(indel))
        most_seen_indel = indel_count.most_common()[0] if indel_count else 'NA'
        most_seen_indel_upper = np.nan if most_seen_indel == 'NA' else (most_seen_indel[0].upper(), most_seen_indel[1])
        res = ''.join(char for char in res if char in '.,ATCGatcg*')
        return pd.Series([res, most_seen_indel_upper])
    df[[f'{sample_type}_indel_free_res', f'{sample_type}_indels']] = df[f'res_{sample_type}_no_carrot'].apply(find_indels_in_res)
    if not df[f'{sample_type}_indel_free_res'].str.len().equals(df[f'qual_{sample_type}'].str.len()):
      raise ValueError(f'{sample_type}_indel_free_res and qual_{sample_type} should have same length!! {df[f"{sample_type}l2"].compare(df[f"{sample_type}l1"])}')
    return df

def caller(count, normal_count, reads_t, reads_n, putative_somatic_var, vars):

    vals = [count, normal_count]
    nons = [int(reads_t) - count, int(reads_n) - normal_count]
    oddsratio, pvalue1 = stats.fisher_exact([vals, nons], alternative='greater')
    if pvalue1 < 0.01:
        vars.append((putative_somatic_var, pvalue1))
    return vars
    
def call_var(df: pd.DataFrame) -> pd.DataFrame:
    def test_putative_somatic_SNVs(tumour_nucs, normal_nucs, reads_t, reads_n, ref, res_n):
        normal_nucs_upper = convert_to_upper(normal_nucs, ref)
        tumour_nucs_no_ref_upper = remove_ref_from_tumour_res(normal_nucs, tumour_nucs, ref)
        normal_nucs_most_common = dict(Counter(normal_nucs_upper).most_common())
        tumour_nucs_most_common = {
            t_var: count for t_var, count in Counter(tumour_nucs_no_ref_upper).items() if normal_nucs_most_common.get(t_var, 0) < 2
        }
        vars = []
        for putative_somatic_var, count in tumour_nucs_most_common.items():
            if count > 4:
                normal_count = normal_nucs_most_common.get(putative_somatic_var, 0)
                vars = caller(count, normal_count, reads_t, reads_n, putative_somatic_var, vars)
        return vars if vars else np.nan
    df["SNV_calls"] = df.apply(lambda x: test_putative_somatic_SNVs(
        x['t_indel_free_res'],
        x['n_indel_free_res'],
        x['reads_t'],
        x['reads_n'],
        x['ref'],
        x['res_n']),
        axis = 1
    )
    def test_top_putative_somatic_indel(tumour_indels, reads_t, reads_n, ref, res_n):
        vars = []
        if type(tumour_indels) != float:
            freq_of_most_common_tumour_indel_in_normal = res_n.upper().count(tumour_indels[0])
            if freq_of_most_common_tumour_indel_in_normal < 2:
                normal_d = dict([(tumour_indels[0], freq_of_most_common_tumour_indel_in_normal)])
                putative_somatic_var, count = tumour_indels
                if count > 4:
                    normal_count = normal_d.get(putative_somatic_var, 0)
                    vars = caller(count, normal_count, reads_t, reads_n, putative_somatic_var, vars)
        return vars if vars else np.nan
    df["indel_call"] = df.apply(lambda x: test_top_putative_somatic_indel(
        x['t_indels'],
        x['reads_t'],
        x['reads_n'],
        x['ref'],
        x['res_n']),
        axis = 1
    )
    def test_top_putative_somatic_SV(tumour_SVs, normal_SVs, reads_t, reads_n, ref, res_n):
        #no limit as some reads naturally start and stop....
        vars = []
        if tumour_SVs > 4:
            vars = caller(tumour_SVs, normal_SVs, reads_t, reads_n, 'SV', vars)
        return vars if vars else np.nan
    df["SV_call"] = df.apply(lambda x: test_top_putative_somatic_SV(
        x['SV_t'],
        x['SV_n'],
        x['reads_t'],
        x['reads_n'],
        x['ref'],
        x['res_n']),
        axis = 1
    )
    return df

In [333]:
df_tumour = create_df('/Users/liam/code/personal/SBSC/tests/resources/HCC1937_t_RNF157.pileup.gz')
df_normal = create_df('/Users/liam/code/personal/SBSC/tests/resources/HCC1937_n_RNF157.pileup.gz')
df = df_normal.join(df_tumour, how='inner', lsuffix='_n', rsuffix='_t')
print(df.shape)
df = remove_redundant_column(df, 'ref')
df = remove_redundant_column(df, 'seq')
df = create_SV_column(df, 't')
df = create_SV_column(df, 'n')
df = remove_carrots_from_res(df, 't')
df = remove_carrots_from_res(df, 'n')
df = remove_positions_with_little_support_for_somatic_var(df)
print(df.shape)
df = separate_indels_from_res(df, 't')
df = separate_indels_from_res(df, 'n')
df = call_var(df)
df = df[df[['SNV_calls', 'indel_call', 'SV_call']].notna().any(1)]
df.shape

(98038, 18)
(20488, 20)

(57, 27)

In [383]:
@dataclass 
class PileupSchema:#TODO ???drop 'pos_in_read', 'read_names'????
    SEQUENCE = "seq"
    POSITION = "pos"
    REFERENCE = "ref"
    READS = "reads"
    RESULTS = "res"
    QUALITY = "qual"
    POSITION_IN_READ = "pos_in_read"
    FLAGS = "flags"
    MAPPING_QUALITY = "map"

@dataclass
class ProcessedSchema(PileupSchema):
    STRUCTURAL_VARIANT = "SV"

@dataclass
class TumourSchema(ProcessedSchema):
    
    @property
    def SV():
        return f'{TumourSchema.STRUCTURAL_VARIANT}_tumour'
t=TumourSchema()
t.SV

TypeError: TumourSchema.SV() takes 0 positional arguments but 1 was given

In [338]:
idx = df.ref.index.get_loc('76145432')

df.ref.iloc[idx - 10 : idx + 10]

Series([], Name: ref, dtype: object)

In [349]:
class DataSchema:
    AMOUNT = "amount"
    CATEGORY = "category"
    DATE = "date"
    MONTH = "month"
    YEAR = "year"

   

def create_df(pile):#: str, chrom: str, start: int, end: int) -> pd.DataFrame:
    '''Converts a genomic region of a pileup to a df'''
    keys = ['seq', 'pos', 'ref', 'reads', 'res', 'qual', 'pos_in_read', 'read_names', 'flags', 'map']#TODO drop 'pos_in_read', 'read_names',

In [351]:
a= [name for schema, name in vars(DataSchema).items() if not schema.startswith("__")]
a

['amount', 'category', 'date', 'month', 'year']

In [377]:

class PileupSchema:#TODO ???drop 'pos_in_read', 'read_names'????
    SEQUENCE = "seq"
    POSITION = "pos"
    REFERENCE = "ref"
    READS = "reads"
    RESULTS = "res"
    QUALITY = "qual"
    POSITION_IN_READ = "pos_in_read"
    FLAGS = "flags"
    MAPPING_QUALITY = "map"


class ProcessedDataSchema(PileupSchema):
    AMOUNT = "amount"
    CATEGORY = "category"
    DATE = "date"
    MONTH = "month"
    YEAR = "year"

    
def ff(sample_type, name: ProcessedDataSchema):
    return f'{sample_type}_{name}'

tumour_cols = partial(ff, 'tumour')
normal_cols = partial(ff, 'normal')

tumour_cols(ProcessedDataSchema.AMOUNT), normal_cols(ProcessedDataSchema.POSITION_IN_READ)

('tumour_amount', 'normal_pos_in_read')

In [372]:
p=PileupSchema()
print(PileupSchema.list_all_columns())

['seq', 'pos', 'ref', 'reads', 'res', 'qual', 'pos_in_read', 'flags', 'map']

In [321]:
df[df[['SNV_calls', 'indel_call', 'SV_call']].notna().any(1)][['res_t_no_carrot','res_n_no_carrot', 'SNV_calls', 'indel_call', 'SV_call', 't_indels']].to_csv('~/Downloads/regex.csv')

In [260]:
df.loc['76157884',:]

seq_n                                                        chr17
ref_n                                                            C
reads_n                                                         59
res_n            *A,,*.,,,.,,.*,*,,.,,.*,,.**,,,,.,*tAA,,,t,.*A...
qual_n           ('8/)9=9&>848/4287@5B:&&36%-).;82-/47(941';8%4...
pos_in_read_n    14876,13621,13831,13241,9962,9469,8150,7546,76...
read_names_n     a7f99129-4d5a-42b1-994b-4e4fcce73ce1,5e17a39a-...
flags_n          0,0,16,16,16,0,16,16,16,0,16,16,0,0,16,0,16,16...
map_n            WY[\XY[ZY]YZWNX]]]Z\[ZXY[ZRW[WS]YT]SZ]]X]]]Z[]...
seq_t                                                        chr17
ref_t                                                            C
reads_t                                                         51
res_t            *AGt,,,a.A.,,AA,,A.A,*,..,,*A,A,A,,A,.A*,,,aAa...
qual_t           '5%$<4766(+8<1.;57007&1%8273-//3:-46,74868+>-?...
pos_in_read_t    15568,10657,9258,7684,7560,7148,7008,6871,7001...
read_names_t     9308d7ef-3936-425a-b542-42725e0bfbac,14cd153f-...
flags_t          0,0,0,16,16,16,16,16,0,0,0,16,16,0,0,16,16,0,0...
map_t            ]ZQYWYXXZYYVTY[Z]Y[\][[XWV]ZWZ]YXZ]YZ]OJ]XWN]W...
Name: 76157884, dtype: object

In [58]:

#failed attempt for do regex faster
chars, index = [], []
for i, char in enumerate(a):
    if char in '+-':
        chars.append('|')
        index.append(i)
    if char.isdigit():
        chars.append(char)
        index.append(i)

kk = ''.join(chars)
index = [pos for i, pos in enumerate(index) if kk[i] == '|']
assert len(kk.split('|')[1:]) == len(index)
indels = kk.split('|')[1:]
for i, indel in zip(index, indels):
    print(a[(i): i+len(indel)+int(indel)])

-1
+1
+1
-2t
-2t
-11tttttttttt
-1

In [ ]:
,,,.*.,,-1t,.,.....,,..-2TT.,-1t,.,.-1T.-1T,,....	..-2TT,,*....+2TT.-2TT,-1t,-1t....,,+1t.*...+1...	,,,.*.,,,.,.....,,...,,.,..,,.,..,..,.,,,..,,....	NA	44	44	..,,*.....,,....,,.*......,.,.,.,,,,,.,,....

In [126]:
re.findall("\+[0-9]+[ACGTNacgtn]+|\-[0-9]+[ACGTNacgtn]+", ',,,.*.,,-1t,.,.....,,..-2TT.,-1t,.,.-1T.-1T,,....')

['-1t', '-2TT', '-1t', '-1T', '-1T']

In [60]:
#wtf!! .-1C.,,.-1C...-1C.,,....-1C,,.......-1C.,.,.,+...    @76142572 why + by itself?? ... is truncation... ffs
df[df.res_n.str.contains('$', regex=False)]#.to_csv('~/Downloads/dola.csv')
df[df.res_n.str.contains('^', regex=False)]#.to_csv('~/Downloads/carrot.csv')

,reads_n,res_n,qual_n,pos_in_read_n,read_names_n,flags_n,map_n,reads_t,res_t,qual_t,...,SV_t,SV_n,res_n_no_carrot,res_t_no_carrot,t_indel_free_res,t_ins,t_dels,n_indel_free_res,n_ins,n_dels
pos,,,,,,,,,,,,,,,,,,,,,
76142500,45,"..*,......,,....,,........,.,.,.,,,,,.,,....^S,",9F#I%F3D6B>I1C>B-IDE7=AFD<>90;>A3882FF@7D=EA;,"9114,8900,7709,7439,6783,6281,5580,5562,7117,5...","c99bf8d8-0be9-4ba9-8c41-4c49ba953f39,40364381-...","0,0,16,16,0,0,0,0,0,0,16,16,0,0,0,0,16,16,0,0,...",XXY[TZRYVWW[XYWZT]ZYYZRX[]Y[]]ZT[[<]V]XVWY[XS,52,",,,...,,.$,....,,...,,.,..,,.,..,..,.,,,..,,.....",38>A479:B7B<44G2@CA+B+475>298@=75D>1<?;3(9@5=?...,...,2,2,"..*,......,,....,,........,.,.,.,,,,,.,,....,",",,,...,,.$,....,,...,,.,..,,.,..,..,.,,,..,,.....",",,,...,,.$,....,,...,,.,..,,.,..,..,.,,,..,,.....",[],[],"..*,......,,....,,........,.,.,.,,,,,.,,....,",[],[]
76142565,45,"..,,.....,,....,,T.......t.,.,.,,,,,.,,....,^Z,","<*;6,'&&137+916?A'0'9)C*/%73'8875;4/>.5'<+*16","9178,8968,7762,7503,6844,5646,5627,7183,5344,5...","c99bf8d8-0be9-4ba9-8c41-4c49ba953f39,40364381-...","0,0,16,16,0,0,0,0,0,16,16,0,0,0,0,16,16,0,0,0,...",XXY[TRYVWW[XYWZT]ZYYZRX[]Y[]]ZT[[<]V]XVWY[XSZ,51,",,,...,,,....,,..G,,.,-1g..,,.,..,..G,,,..,,.....","764J0159<A)./=7(%(;.'$#$%6&)72:.5$'7=(/<7,30./...",...,2,2,"..,,.....,,....,,T.......t.,.,.,,,,,.,,....,,",",,,...,,,....,,..G,,.,-1g..,,.,..,..G,,,..,,.....",",,,...,,,....,,..G,,.,..,,.,..,..G,,,..,,........",[],[g],"..,,.....,,....,,T.......t.,.,.,,,,,.,,....,,",[],[]
76142572,46,".-1C.,,.-1C...-1C.,,....-1C,,.......-1C.,.,.,+...","@?/%;957A,;B=1>46>=@<'C??$F60,@1)9&&<%)>;=1&74","9185,8975,7769,7510,6851,5653,5634,7190,5351,5...","c99bf8d8-0be9-4ba9-8c41-4c49ba953f39,40364381-...","0,0,16,16,0,0,0,0,0,16,16,0,0,0,0,16,16,0,0,0,...",XXY[TRYVWW[XYWZT]ZYYZRX[]Y[]]ZT[[<]V]XVWY[XSZ[,51,",,,..-1C.c,,...-1C.,,...,,.,..,,.,..,...,*,.+1...",?&+=>:+$'@:594=>=.(38$93-$>(A7-:=<$(?9@$.>@<:D...,...,2,2,".-1C.,,.-1C...-1C.,,....-1C,,.......-1C.,.,.,+...",",,,..-1C.c,,...-1C.,,...,,.,..,,.,..,...,*,.+1...",",,,...c,,....,,...,,.,..,,.,..,...,*,..,,........",[C],"[C, C, C, C, C]","..,,.....,,....,,........,.,.,.,*,**.,*....,,,",[c],"[C, C, C, C, C, C, c]"
76142791,46,"..,,....,,....,,........,.,.,.,,,,,.,,....,c,^W.",=<89/7<;7:433;7@:7:<5=6@@84(;8?::;;7<399=;;#:8,"9399,9189,7989,7722,7057,5850,7402,5563,5476,5...","c99bf8d8-0be9-4ba9-8c41-4c49ba953f39,40364381-...","0,0,16,16,0,0,0,0,16,16,0,0,0,0,16,16,0,0,0,0,...",XXY[TYVWW[XYWZT]ZYYZRX[]Y[]]ZT[[<]V]XVWY[XSZ[W,50,",,...,,-2at,...*,,...,,.,..-3ATG,,.,..,...,,,....",":6,&=?)>>;<(95<0<89:=?&29;<7;<@:5+;996?86<=49?...",...,2,2,"..,,....,,....,,........,.,.,.,,,,,.,,....,c,.",",,...,,-2at,...*,,...,,.,..-3ATG,,.,..,...,,,....",",,...,,,...*,,...,,.,..,,.,..,...,,,..,,.....,...",[],"[at, ATG]","..,,....,,....,,........,.,.,.,,,,,.,,....,c,.",[],[]
76142869,47,".*,,-1g..G.,,....,,........,.,.,.,,,,,-1g.,,.....","'&;92;*.?*,1,01@)944),8;-3($85(67:&>57$41;+;932","9475,9265,8066,7803,7136,5928,7478,5635,5555,5...","c99bf8d8-0be9-4ba9-8c41-4c49ba953f39,40364381-...","0,0,16,16,0,0,0,0,16,16,0,0,0,0,16,16,0,0,0,0,...",XXY[TYVWW[XYWZT]ZYYZRX[]Y[]]ZT[[<]V]XVWY[XSZ[WU,51,",,...,,,G...,,...,*T,G.,,.,..t...g,,..,,....-1...","*99+.)?9/&),<)20&20(+$).'1<=-170/%:7+(%/-*.%<-...",...,2,2,".*,,-1g..G.,,....,,........,.,.,.,,,,,-1g.,,.....",",,...,,,G...,,...,*T,G.,,.,..t...g,,..,,....-1...",",,...,,,G...,,...,*T,G.,,.,..t...g,,..,,.....g...",[],[G],".*,,..G.,,....,,........,.,.,.,,,,,.,,....,,,..",[],"[g, g]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76239175,45,",...,.,,,,,,,,A.,.,.,,.+2AA,,A,,....,..,..,,,....",">5=5=-5%/67@;6,9B3=:=9'A)%>?+'.$=5<=A-<:?,&2)","10933,10525,8979,8617,7688,7588,6637,6588,6117...","d4e6733f-0b2e-4dae-b6bb-50906aae9d3f,c6084eeb-...","16,0,0,0,16,0,16,16,16,16,16,16,16,16,0,0,2064...",VU[TW]UY[TYZU[]]WQZNZ[[[]]ZT[]QZ]]]Z[YXWZ]P]W,52,"..,,,,.*,,..,.,,,,,..,,....,..,..,,,,+1t.,..C....","';9BB?6$=..-.3:-6?./A<?&()6/9.==+<(&%$=,/#<;F1...",...,2,2,",...,.,,,,,,,,A.,.,.,,.+2AA,,A,,....,..,..,,,...,","..,,,,.*,,..,.,,,,,..,,....,..,..,,,,+1t.,..C....","..,,,,.*,,..,.,,,,,..,,....,..,..,,,,.,..C.,.,...",[t],[],",...,.,,,,,,,,A.,.,.,,.,,A,,....,..,..,,,...,",[AA],[]
76239176,46,",...,.,t,,,,,,..-2GA,.,.,,.,,.,,...-1G.,..,..,...",D<97;06$16;C<@)4B5B;?;&@5':A-&.%?<=AA-8=?/(*5%,"10934,10526,8980,8618,7689,7589,6638,6589,6118...","d4e6733f-0b2e-4dae-b6bb-50906aae9d3f,c6084eeb-...","16,0,0,0,16,0,16,16,16,16,16,16,16,16,0,0,2064...",VU[TW]UY[TYZU[]]WQZNZ[[[]]ZT[]QZ]]]Z[YXWZ]P]W],52,"..,,,,.*,,.-1G.,.,,,,,..,,....,..,..,,,,.+1G,....",-4;@CB<$<8*)+4829A80C=C%()70;099.?+(/$=56%:@:/...,...,2,2,",...,.,t,,,,,,..-2GA,.,.,,.,,.,,...-1G.,..,..,...","..,,,,.*,,.-1G.,.,,,,,..,,....,..,..,,,,.+1G,....","..,,,,.*,,..,.,,,,,..,,....,..,..,,,,.,....,.,...",[G],[G],",...,.,t,,,,,,..,.,.,,.,,.,,....,..,..,,,...,,",[],"[GA, G]"
76239270,46,",...,.+1T,,,*,,,,..,.,.+1T,,.,,.,,...,..,.+1T*...","-6&-:&9(>&41/'2+(*;$)8315':;+&8.;')$&',&2%(;8*","11035,10619,9074,8712,7784,7678,6733,6684,6212...","d4e6733f-0b2e-4dae-b6bb-50906aae9d3f,c6084eeb-...","16,0,0,0,16,0,16,16,16,16,16,16,16,16,0,0,2064...",VU[TW]UY[TYZU[]]WQZNZ[[[]]ZT[]Z]]]Z[YXWZ]P]W]],54,"..,,,,.,,,..,.,,,,,.+1G.,,....,..-2AT,..,,,,.,...","%9'9.?%(5&6*,77$,1&%4&'*$''($%>%0<)?&*5*+*<,39...",...,2,2,",...,.+1T,,,*,,,,..,.,.+1T,,.,,.,,...,..,.+1T*...","..,,,,.,,,..,.,,,,,.+1G.,,....,..-2AT,..,,,,.,...","..,,,,.,,,..,.,,,,,..,,....,..,..,,,,.,.**.,.,...",[G],"[AT, A, A]",",...,.,,,*,,,,..,.,.,,.,,.,,...,..,.*,,t...,,,","[T, T, T]",[A]
76239550,44,",*.*,**,,,,,,,.**,*,,.,,.,+5ggttt,*.A,**,..,,*...",":=<%28<8@2(4+::5-0&9)9<'..?35,??:6>:<K><$,;D","11324,10887,9344,8984,8060,7956,7014,6955,6495...","d4e6733f-0b2e-4dae-b6bb-50906aae9d3f,c6084eeb-...","16,0,0,0,16,0,16,16,16,16,16,16,16,16,0,2064,0...",VU[TW]UY[TYZU[]WQZNZ[[[]]ZT[]Z]]]Z[YXWZ]P]W],55,"*A**,*.,,t*.,**,,*..*a..*****,*.,,,.*.*..**,*....",-+0'>?@<7(7C5:;/9+C=57<B7%:61?>=:>&99;)1:4<;=:...,...,2,2,",*.*,**,,,,,,,.**,*,,.,,.,+5ggttt,*.A,**,..,,*...","*A**,*.,,t*.,**,,*..*a..*****,*.,,,.*.*..**,*....","*A**,*.,,t*.,**,,*..*a..*****,*.,,,.*.*..**,*....",[],[],",*.*,**,,,,,,,.**,*,,.,,.,,*.A,**,..,,*.*.,.",[ggttt],[]
76240015,42,",..,.,,,,,,,.,.,.,t.,,.,+3aag,A..,..,..,t,..,.^V,","=31C>7/)&%,0+<>24-%@661,7$,9*-/4>D3H*4<756","11792,11342,9431,8515,8411,7477,7415,6958,6577...","d4e6733f-0b2e-4dae-b6bb-50906aae9d3f,c6084eeb-...","16,0,0,16,0,16,16,16,16,16,16,16,0,2064,0,16,0...",VUTW]UY[TYZ[]WQZNZ[[[]]ZT[]Z]]]Z[YXWZ]PW]V,50,"GA,,,,+2aat,,.*,G,,,..*...,...+1A.,,a.,.+1G..+...","%(-$'(&%%$51*+&-6&,)-.'%5/(%4#4-43.39'%'%.',7-...",...,2,2,",..,.,,,,,,,.,.,.,t.,,.,+3aag,A..,..,..,t,..,.,","GA,,,,+2aat,,.*,G,,,..*...,...+1A.,,a.,.+1G..+...","GA,,,,t,,.*,G,,,..*...,....,,a.,.....,gAT..,.....","[aa, A, G, G, G]",[],",..,.,,,,,,,.,.,.,t.,,.,,A..,..,..,t,..,.,",[aag],[]

In [ ]:
data = pd.read_csv(
    path,
    dtype={
        DataSchema.AMOUNT: float,
        DataSchema.CATEGORY: str,
        DataSchema.DATE: str,
    },
    parse_dates=[DataSchema.DATE],
)

In [40]:
import pandas as pd
import numpy as np
import locale
import random, string

N = 1000000
np.random.seed(0)
rand_name_lst=[''.join(random.choices(string.ascii_uppercase + string.digits, k=5)) \
                            for i in range(N)]
rand_int_lst = np.random.randint(912131,18293293,size=N)
df = pd.DataFrame({'name': rand_name_lst , 'size': rand_int_lst})

df.sample(5)

def convert_size(x):
    kb = round((x / 1024.0),2)
    mb = round((x / (1024.0 ** 2)),2)
    gb = round((x / (1024 **3)),2)

    return pd.Series([kb, mb, gb])
df[['size_kb','size_mb','size_gb']]=df['size'].apply(convert_size)
df

         name      size   size_kb  size_mb  size_gb
0       EBBZP   9237935   9021.42     8.81     0.01
1       A7HC2   3127235   3053.94     2.98     0.00
2       UTJ34   6069830   5927.57     5.79     0.01
3       CTLJ9  15951978  15578.10    15.21     0.01
4       CELYH   8556300   8355.76     8.16     0.01
...       ...       ...       ...      ...      ...
999995  5UM50  10262913  10022.38     9.79     0.01
999996  FFHPH  11270724  11006.57    10.75     0.01
999997  3WJH2  13253839  12943.20    12.64     0.01
999998  89ZJE  16825160  16430.82    16.05     0.02
999999  PDR1L   7449552   7274.95     7.10     0.01

[1000000 rows x 5 columns]

In [41]:
df['size_kb'],df['size_mb'],df['size_gb']=convert_size(df['size'])
df

         name      size   size_kb  size_mb  size_gb
0       EBBZP   9237935   9021.42     8.81     0.01
1       A7HC2   3127235   3053.94     2.98     0.00
2       UTJ34   6069830   5927.57     5.79     0.01
3       CTLJ9  15951978  15578.10    15.21     0.01
4       CELYH   8556300   8355.76     8.16     0.01
...       ...       ...       ...      ...      ...
999995  5UM50  10262913  10022.38     9.79     0.01
999996  FFHPH  11270724  11006.57    10.75     0.01
999997  3WJH2  13253839  12943.20    12.64     0.01
999998  89ZJE  16825160  16430.82    16.05     0.02
999999  PDR1L   7449552   7274.95     7.10     0.01

[1000000 rows x 5 columns]

In [25]:
import re

txt = ".-1C.,,.-1C...-1C.,,....-1C,,.."
re.findall("\+[0-9]+[ACGTNacgtn]+", txt), re.findall('\-[0-9]+[ACGTNacgtn]+', txt)

([], ['-1C', '-1C', '-1C', '-1C'])

In [26]:
from collections import Counter

In [27]:
for indel in cc.keys():
    txt = ''.join(txt.split(indel))
txt

'..,,.....,,....,,..'

In [4]:
s1 ='CPPffff'
s2='gggg'

any(map(s1.startswith, ['CPP', 'CGD', 'CPG', 'CNE', 'CNL']))

True

In [11]:
help(df.plot)

Help on PlotAccessor in module pandas.plotting._core object:

class PlotAccessor(pandas.core.base.PandasObject)
 |  PlotAccessor(data)
 |
 |  Make plots of Series or DataFrame.
 |
 |  Uses the backend specified by the
 |  option ``plotting.backend``. By default, matplotlib is used.
 |
 |  Parameters
 |  ----------
 |  data : Series or DataFrame
 |      The object for which the method is called.
 |  x : label or position, default None
 |      Only used if data is a DataFrame.
 |  y : label, position or list of label, positions, default None
 |      Allows plotting of one column versus another. Only used if data is a
 |      DataFrame.
 |  kind : str
 |      The kind of plot to produce:
 |
 |      - 'line' : line plot (default)
 |      - 'bar' : vertical bar plot
 |      - 'barh' : horizontal bar plot
 |      - 'hist' : histogram
 |      - 'box' : boxplot
 |      - 'kde' : Kernel Density Estimation plot
 |      - 'density' : same as 'kde'
 |      - 'area' : area plot
 |      - 'pie' : pie plot
 |      - 'scatter' : scatter plot (DataFrame only)
 |      - 'hexbin' : hexbin plot (DataFrame only)
 |  ax : matplotlib axes object, default None
 |      An axes of the current figure.
 |  subplots : bool, default False
 |      Make separate subplots for each column.
 |  sharex : bool, default True if ax is None else False
 |      In case ``subplots=True``, share x axis and set some x axis labels
 |      to invisible; defaults to True if ax is None otherwise False if
 |      an ax is passed in; Be aware, that passing in both an ax and
 |      ``sharex=True`` will alter all x axis labels for all axis in a figure.
 |  sharey : bool, default False
 |      In case ``subplots=True``, share y axis and set some y axis labels to invisible.
 |  layout : tuple, optional
 |      (rows, columns) for the layout of subplots.
 |  figsize : a tuple (width, height) in inches
 |      Size of a figure object.
 |  use_index : bool, default True
 |      Use index as ticks for x axis.
 |  title : str or list
 |      Title to use for the plot. If a string is passed, print the string
 |      at the top of the figure. If a list is passed and `subplots` is
 |      True, print each item in the list above the corresponding subplot.
 |  grid : bool, default None (matlab style default)
 |      Axis grid lines.
 |  legend : bool or {'reverse'}
 |      Place legend on axis subplots.
 |  style : list or dict
 |      The matplotlib line style per column.
 |  logx : bool or 'sym', default False
 |      Use log scaling or symlog scaling on x axis.
 |      .. versionchanged:: 0.25.0
 |
 |  logy : bool or 'sym' default False
 |      Use log scaling or symlog scaling on y axis.
 |      .. versionchanged:: 0.25.0
 |
 |  loglog : bool or 'sym', default False
 |      Use log scaling or symlog scaling on both x and y axes.
 |      .. versionchanged:: 0.25.0
 |
 |  xticks : sequence
 |      Values to use for the xticks.
 |  yticks : sequence
 |      Values to use for the yticks.
 |  xlim : 2-tuple/list
 |      Set the x limits of the current axes.
 |  ylim : 2-tuple/list
 |      Set the y limits of the current axes.
 |  xlabel : label, optional
 |      Name to use for the xlabel on x-axis. Default uses index name as xlabel, or the
 |      x-column name for planar plots.
 |
 |      .. versionadded:: 1.1.0
 |
 |      .. versionchanged:: 1.2.0
 |
 |         Now applicable to planar plots (`scatter`, `hexbin`).
 |
 |  ylabel : label, optional
 |      Name to use for the ylabel on y-axis. Default will show no ylabel, or the
 |      y-column name for planar plots.
 |
 |      .. versionadded:: 1.1.0
 |
 |      .. versionchanged:: 1.2.0
 |
 |         Now applicable to planar plots (`scatter`, `hexbin`).
 |
 |  rot : int, default None
 |      Rotation for ticks (xticks for vertical, yticks for horizontal
 |      plots).
 |  fontsize : int, default None
 |      Font size for xticks and yticks.
 |  colormap : str or matplotlib colormap object, default None
 |      Colormap to select colors from. If string, load colormap with that
 |      name from matplotlib.
 |  colorbar : bool, optional
 |      If True, plot colorbar (only relevant for 'scatter' and 'hexbin'
 |      plots).
 |  position : float
 |      Specify relative alignments for bar plot layout.
 |      From 0 (left/bottom-end) to 1 (right/top-end). Default is 0.5
 |      (center).
 |  table : bool, Series or DataFrame, default False
 |      If True, draw a table using the data in the DataFrame and the data
 |      will be transposed to meet matplotlib's default layout.
 |      If a Series or DataFrame is passed, use passed data to draw a
 |      table.
 |  yerr : DataFrame, Series, array-like, dict and str
 |      See :ref:`Plotting with Error Bars <visualization.errorbars>` for
 |      detail.
 |  xerr : DataFrame, Series, array-like, dict and str
 |      Equivalent to yerr.
 |  stacked : bool, default False in line and bar plots, and True in area plot
 |      If True, create stacked plot.
 |  sort_columns : bool, default False
 |      Sort column names to determine plot ordering.
 |  secondary_y : bool or sequence, default False
 |      Whether to plot on the secondary y-axis if a list/tuple, which
 |      columns to plot on secondary y-axis.
 |  mark_right : bool, default True
 |      When using a secondary_y axis, automatically mark the column
 |      labels with "(right)" in the legend.
 |  include_bool : bool, default is False
 |      If True, boolean values can be plotted.
 |  backend : str, default None
 |      Backend to use instead of the backend specified in the option
 |      ``plotting.backend``. For instance, 'matplotlib'. Alternatively, to
 |      specify the ``plotting.backend`` for the whole session, set
 |      ``pd.options.plotting.backend``.
 |
 |      .. versionadded:: 1.0.0
 |
 |  **kwargs
 |      Options to pass to matplotlib plotting method.
 |
 |  Returns
 |  -------
 |  :class:`matplotlib.axes.Axes` or numpy.ndarray of them
 |      If the backend is not the default matplotlib one, the return value
 |      will be the object returned by the backend.
 |
 |  Notes
 |  -----
 |  - See matplotlib documentation online for more on this subject
 |  - If `kind` = 'bar' or 'barh', you can specify relative alignments
 |    for bar plot layout by `position` keyword.
 |    From 0 (left/bottom-end) to 1 (right/top-end). Default is 0.5
 |    (center)
 |
 |  Method resolution order:
 |      PlotAccessor
 |      pandas.core.base.PandasObject
 |      pandas.core.accessor.DirNamesMixin
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __call__(self, *args, **kwargs)
 |      Make plots of Series or DataFrame.
 |
 |      Uses the backend specified by the
 |      option ``plotting.backend``. By default, matplotlib is used.
 |
 |      Parameters
 |      ----------
 |      data : Series or DataFrame
 |          The object for which the method is called.
 |      x : label or position, default None
 |          Only used if data is a DataFrame.
 |      y : label, position or list of label, positions, default None
 |          Allows plotting of one column versus another. Only used if data is a
 |          DataFrame.
 |      kind : str
 |          The kind of plot to produce:
 |
 |          - 'line' : line plot (default)
 |          - 'bar' : vertical bar plot
 |          - 'barh' : horizontal bar plot
 |          - 'hist' : histogram
 |          - 'box' : boxplot
 |          - 'kde' : Kernel Density Estimation plot
 |          - 'density' : same as 'kde'
 |          - 'area' : area plot
 |          - 'pie' : pie plot
 |          - 'scatter' : scatter plot (DataFrame only)
 |          - 'hexbin' : hexbin plot (DataFrame only)
 |      ax : matplotlib axes object, default None
 |          An axes of the current figure.
 |      subplots : bool, default False
 |          Make separate subplots for each column.
 |      sharex : bool, default True if ax is None else False
 |          In case ``subplots=True``, share x axis and set some x axis labels
 |          to invisible; defaults to True if ax is None otherwise False if
 |          an ax is passed in; Be aware, that passing in both an ax and
 |          ``sharex=True`` will alter all x axis labels for all axis in a figure.
 |      sharey : bool, default False
 |          In case ``subplots=True``, share y axis and set some y axis labels to invisible.
 |      layout : tuple, optional
 |          (rows, columns) for the layout of subplots.
 |      figsize : a tuple (width, height) in inches
 |          Size of a figure object.
 |      use_index : bool, default True
 |          Use index as ticks for x axis.
 |      title : str or list
 |          Title to use for the plot. If a string is passed, print the string
 |          at the top of the figure. If a list is passed and `subplots` is
 |          True, print each item in the list above the corresponding subplot.
 |      grid : bool, default None (matlab style default)
 |          Axis grid lines.
 |      legend : bool or {'reverse'}
 |          Place legend on axis subplots.
 |      style : list or dict
 |          The matplotlib line style per column.
 |      logx : bool or 'sym', default False
 |          Use log scaling or symlog scaling on x axis.
 |          .. versionchanged:: 0.25.0
 |
 |      logy : bool or 'sym' default False
 |          Use log scaling or symlog scaling on y axis.
 |          .. versionchanged:: 0.25.0
 |
 |      loglog : bool or 'sym', default False
 |          Use log scaling or symlog scaling on both x and y axes.
 |          .. versionchanged:: 0.25.0
 |
 |      xticks : sequence
 |          Values to use for the xticks.
 |      yticks : sequence
 |          Values to use for the yticks.
 |      xlim : 2-tuple/list
 |          Set the x limits of the current axes.
 |      ylim : 2-tuple/list
 |          Set the y limits of the current axes.
 |      xlabel : label, optional
 |          Name to use for the xlabel on x-axis. Default uses index name as xlabel, or the
 |          x-column name for planar plots.
 |
 |          .. versionadded:: 1.1.0
 |
 |          .. versionchanged:: 1.2.0
 |
 |             Now applicable to planar plots (`scatter`, `hexbin`).
 |
 |      ylabel : label, optional
 |          Name to use for the ylabel on y-axis. Default will show no ylabel, or the
 |          y-column name for planar plots.
 |
 |          .. versionadded:: 1.1.0
 |
 |          .. versionchanged:: 1.2.0
 |
 |             Now applicable to planar plots (`scatter`, `hexbin`).
 |
 |      rot : int, default None
 |          Rotation for ticks (xticks for vertical, yticks for horizontal
 |          plots).
 |      fontsize : int, default None
 |          Font size for xticks and yticks.
 |      colormap : str or matplotlib colormap object, default None
 |          Colormap to select colors from. If string, load colormap with that
 |          name from matplotlib.
 |      colorbar : bool, optional
 |          If True, plot colorbar (only relevant for 'scatter' and 'hexbin'
 |          plots).
 |      position : float
 |          Specify relative alignments for bar plot layout.
 |          From 0 (left/bottom-end) to 1 (right/top-end). Default is 0.5
 |          (center).
 |      table : bool, Series or DataFrame, default False
 |          If True, draw a table using the data in the DataFrame and the data
 |          will be transposed to meet matplotlib's default layout.
 |          If a Series or DataFrame is passed, use passed data to draw a
 |          table.
 |      yerr : DataFrame, Series, array-like, dict and str
 |          See :ref:`Plotting with Error Bars <visualization.errorbars>` for
 |          detail.
 |      xerr : DataFrame, Series, array-like, dict and str
 |          Equivalent to yerr.
 |      stacked : bool, default False in line and bar plots, and True in area plot
 |          If True, create stacked plot.
 |      sort_columns : bool, default False
 |          Sort column names to determine plot ordering.
 |      secondary_y : bool or sequence, default False
 |          Whether to plot on the secondary y-axis if a list/tuple, which
 |          columns to plot on secondary y-axis.
 |      mark_right : bool, default True
 |          When using a secondary_y axis, automatically mark the column
 |          labels with "(right)" in the legend.
 |      include_bool : bool, default is False
 |          If True, boolean values can be plotted.
 |      backend : str, default None
 |          Backend to use instead of the backend specified in the option
 |          ``plotting.backend``. For instance, 'matplotlib'. Alternatively, to
 |          specify the ``plotting.backend`` for the whole session, set
 |          ``pd.options.plotting.backend``.
 |
 |          .. versionadded:: 1.0.0
 |
 |      **kwargs
 |          Options to pass to matplotlib plotting method.
 |
 |      Returns
 |      -------
 |      :class:`matplotlib.axes.Axes` or numpy.ndarray of them
 |          If the backend is not the default matplotlib one, the return value
 |          will be the object returned by the backend.
 |
 |      Notes
 |      -----
 |      - See matplotlib documentation online for more on this subject
 |      - If `kind` = 'bar' or 'barh', you can specify relative alignments
 |        for bar plot layout by `position` keyword.
 |        From 0 (left/bottom-end) to 1 (right/top-end). Default is 0.5
 |        (center)
 |
 |  __init__(self, data)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  area(self, x=None, y=None, **kwargs)
 |      Draw a stacked area plot.
 |
 |      An area plot displays quantitative data visually.
 |      This function wraps the matplotlib area function.
 |
 |      Parameters
 |      ----------
 |      x : label or position, optional
 |          Coordinates for the X axis. By default uses the index.
 |      y : label or position, optional
 |          Column to plot. By default uses all columns.
 |      stacked : bool, default True
 |          Area plots are stacked by default. Set to False to create a
 |          unstacked plot.
 |      **kwargs
 |          Additional keyword arguments are documented in
 |          :meth:`DataFrame.plot`.
 |
 |      Returns
 |      -------
 |      matplotlib.axes.Axes or numpy.ndarray
 |          Area plot, or array of area plots if subplots is True.
 |
 |      See Also
 |      --------
 |      DataFrame.plot : Make plots of DataFrame using matplotlib / pylab.
 |
 |      Examples
 |      --------
 |      Draw an area plot based on basic business metrics:
 |
 |      .. plot::
 |          :context: close-figs
 |
 |          >>> df = pd.DataFrame({
 |          ...     'sales': [3, 2, 3, 9, 10, 6],
 |          ...     'signups': [5, 5, 6, 12, 14, 13],
 |          ...     'visits': [20, 42, 28, 62, 81, 50],
 |          ... }, index=pd.date_range(start='2018/01/01', end='2018/07/01',
 |          ...                        freq='M'))
 |          >>> ax = df.plot.area()
 |
 |      Area plots are stacked by default. To produce an unstacked plot,
 |      pass ``stacked=False``:
 |
 |      .. plot::
 |          :context: close-figs
 |
 |          >>> ax = df.plot.area(stacked=False)
 |
 |      Draw an area plot for a single column:
 |
 |      .. plot::
 |          :context: close-figs
 |
 |          >>> ax = df.plot.area(y='sales')
 |
 |      Draw with a different `x`:
 |
 |      .. plot::
 |          :context: close-figs
 |
 |          >>> df = pd.DataFrame({
 |          ...     'sales': [3, 2, 3],
 |          ...     'visits': [20, 42, 28],
 |          ...     'day': [1, 2, 3],
 |          ... })
 |          >>> ax = df.plot.area(x='day')
 |
 |  bar(self, x=None, y=None, **kwargs)
 |      Vertical bar plot.
 |
 |      A bar plot is a plot that presents categorical data with
 |      rectangular bars with lengths proportional to the values that they
 |      represent. A bar plot shows comparisons among discrete categories. One
 |      axis of the plot shows the specific categories being compared, and the
 |      other axis represents a measured value.
 |
 |      Parameters
 |      ----------
 |      x : label or position, optional
 |          Allows plotting of one column versus another. If not specified,
 |          the index of the DataFrame is used.
 |      y : label or position, optional
 |          Allows plotting of one column versus another. If not specified,
 |          all numerical columns are used.
 |      color : str, array-like, or dict, optional
 |          The color for each of the DataFrame's columns. Possible values are:
 |
 |          - A single color string referred to by name, RGB or RGBA code,
 |              for instance 'red' or '#a98d19'.
 |
 |          - A sequence of color strings referred to by name, RGB or RGBA
 |              code, which will be used for each column recursively. For
 |              instance ['green','yellow'] each column's bar will be filled in
 |              green or yellow, alternatively. If there is only a single column to
 |              be plotted, then only the first color from the color list will be
 |              used.
 |
 |          - A dict of the form {column name : color}, so that each column will be
 |              colored accordingly. For example, if your columns are called `a` and
 |              `b`, then passing {'a': 'green', 'b': 'red'} will color bars for
 |              column `a` in green and bars for column `b` in red.
 |
 |          .. versionadded:: 1.1.0
 |
 |      **kwargs
 |          Additional keyword arguments are documented in
 |          :meth:`DataFrame.plot`.
 |
 |      Returns
 |      -------
 |      matplotlib.axes.Axes or np.ndarray of them
 |          An ndarray is returned with one :class:`matplotlib.axes.Axes`
 |          per column when ``subplots=True``.
 |
 |              See Also
 |              --------
 |              DataFrame.plot.barh : Horizontal bar plot.
 |              DataFrame.plot : Make plots of a DataFrame.
 |              matplotlib.pyplot.bar : Make a bar plot with matplotlib.
 |
 |              Examples
 |              --------
 |              Basic plot.
 |
 |              .. plot::
 |                  :context: close-figs
 |
 |                  >>> df = pd.DataFrame({'lab':['A', 'B', 'C'], 'val':[10, 30, 20]})
 |                  >>> ax = df.plot.bar(x='lab', y='val', rot=0)
 |
 |              Plot a whole dataframe to a bar plot. Each column is assigned a
 |              distinct color, and each row is nested in a group along the
 |              horizontal axis.
 |
 |              .. plot::
 |                  :context: close-figs
 |
 |                  >>> speed = [0.1, 17.5, 40, 48, 52, 69, 88]
 |                  >>> lifespan = [2, 8, 70, 1.5, 25, 12, 28]
 |                  >>> index = ['snail', 'pig', 'elephant',
 |                  ...          'rabbit', 'giraffe', 'coyote', 'horse']
 |                  >>> df = pd.DataFrame({'speed': speed,
 |                  ...                    'lifespan': lifespan}, index=index)
 |                  >>> ax = df.plot.bar(rot=0)
 |
 |              Plot stacked bar charts for the DataFrame
 |
 |              .. plot::
 |                  :context: close-figs
 |
 |                  >>> ax = df.plot.bar(stacked=True)
 |
 |              Instead of nesting, the figure can be split by column with
 |              ``subplots=True``. In this case, a :class:`numpy.ndarray` of
 |              :class:`matplotlib.axes.Axes` are returned.
 |
 |              .. plot::
 |                  :context: close-figs
 |
 |                  >>> axes = df.plot.bar(rot=0, subplots=True)
 |                  >>> axes[1].legend(loc=2)  # doctest: +SKIP
 |
 |              If you don't like the default colours, you can specify how you'd
 |              like each column to be colored.
 |
 |              .. plot::
 |                  :context: close-figs
 |
 |                  >>> axes = df.plot.bar(
 |                  ...     rot=0, subplots=True, color={"speed": "red", "lifespan": "green"}

   a
a  0
b  9

In [6]:
%time
sample_id = 'sample_id'
p='/Users/liam/Downloads/functional/'
gzs =glob(p+'BBB*.MICROBA.sample.tsv.gz')
print(len(gzs))

for i in gzs:

    df = pd.read_csv(i, index_col =0, sep='\t')
    assert len(df.columns) == 1
    df.columns = [sample_id]

    print(len(df[sample_id]))

CPU times: user 0 ns, sys: 1 µs, total: 1 µs
Wall time: 2.15 µs
28
553942
387157
506655
522019
436605
503589
418377
570555
641810
633009
498685
530719
468912
627153
487607
607455
632898
614981
432772
489456
572237
716704
508945
378263
410248
587297
510855
597782

In [8]:
df = pd.read_csv('/Users/liam/Downloads/BBB6542-PBC4-LBC2-R006-FSS.MICROBA.sample.tsv.gz', index_col =0, sep='\t')
df

                Count
ID
MIG20000000028      1
MIG20000000056      4
MIG20000000075      1
MIG20000000096      2
MIG20000000124      3
...               ...
MIG20073909726      1
MIG20073909781     10
MIG20073909783      1
MIG20073909786      5
MIG20073911408     12

[489456 rows x 1 columns]

In [2]:
@dataclass
class C2:
    x: int
    def f(self, y):
        print(self.x*y)

@dataclass
class C1(C2):
    def f(self, y):
        print(self.x+y, 'fu')

c1 = C1(1)
c1.f(2)

3 fu

In [3]:
d={'a': C2}
c = d.get('a', C1)(1)
c.f(2)

2

In [4]:
CPY_BACKGROUND_SPECIES = "Taxon\n__Pseudomonas aeruginosa\ns__Escherichia coli\ns__Salmonella enterica\ns__Lactobacillus_H fermentum\ns__Enterococcus faecalis\ns__Staphylococcus aureus\ns__Listeria monocytogenes_A\ns__Listeria monocytogenes_B\ns__Listeria monocytogenes\ns__Bacillus subtilis_D\ns__Saccharomyces group A\ns__Cryptococcus neoformans\ns__Bacillus marinus\ns__Escherichia flexneri"
CPD_BACKGROUND_SPECIES = "Taxon\ns__Acinetobacter baumannii\ns__Actinomyces_B odontolyticus\ns__Bacillus_A cereus_AD\ns__Bacteroides_B vulgatus\ns__Bifidobacterium adolescentis\ns__Clostridium beijerinckii\ns__Cutibacterium acnes\ns__Deinococcus radiodurans\ns__Enterococcus faecalis\ns__Escherichia coli\ns__Helicobacter pylori_AS\ns__Lactobacillus gasseri\ns__Neisseria meningitidis\ns__Porphyromonas gingivalis\ns__Pseudomonas aeruginosa_A\ns__Staphylococcus aureus\ns__Staphylococcus epidermidis\ns__Streptococcus agalactiae\ns__Streptococcus mutans\ns__Helicobacter pylori\ns__Escherichia flexneri\ns__Pauljensenia odontolyticus_A"
CPD_BACKGROUND_SPECIES2 = "Taxon\ns__Acinetobacter ff\ns__Actinomyces_B ff\ns__Bacillus_A ff\ns__Bacteroides_B vulgatus\ns__Bifidobacterium adolescentis\ns__Clostridium beijerinckii\ns__Cutibacterium acnes\ns__Deinococcus radiodurans\ns__Enterococcus faecalis\ns__Escherichia coli\ns__Helicobacter pylori_AS\ns__Lactobacillus gasseri\ns__Neisseria meningitidis\ns__Porphyromonas gingivalis\ns__Pseudomonas aeruginosa_A\ns__Staphylococcus aureus\ns__Staphylococcus epidermidis\ns__Streptococcus agalactiae\ns__Streptococcus mutans\ns__Helicobacter pylori\ns__Escherichia flexneri\ns__Pauljensenia odontolyticus_A"

In [5]:
df =pd.DataFrame([CPY_BACKGROUND_SPECIES.split('\n'), CPD_BACKGROUND_SPECIES.split('\n'), CPD_BACKGROUND_SPECIES2.split('\n')]).T
df.columns = ['a', 'b', 'b2']
df.head()

,a,b,b2
0,Taxon,Taxon,Taxon
1,__Pseudomonas aeruginosa,s__Acinetobacter baumannii,s__Acinetobacter ff
2,s__Escherichia coli,s__Actinomyces_B odontolyticus,s__Actinomyces_B ff
3,s__Salmonella enterica,s__Bacillus_A cereus_AD,s__Bacillus_A ff
4,s__Lactobacillus_H fermentum,s__Bacteroides_B vulgatus,s__Bacteroides_B vulgatus

In [6]:
df["exists"] = df.drop("b2", 1).isin(df["b2"]).any(1)
df

/var/folders/5k/61vjt_z14fg3thmw_wts19f40000gp/T/ipykernel_41367/2934274232.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df["exists"] = df.drop("b2", 1).isin(df["b2"]).any(1)

,a,b,b2,exists
0,Taxon,Taxon,Taxon,True
1,__Pseudomonas aeruginosa,s__Acinetobacter baumannii,s__Acinetobacter ff,False
2,s__Escherichia coli,s__Actinomyces_B odontolyticus,s__Actinomyces_B ff,False
3,s__Salmonella enterica,s__Bacillus_A cereus_AD,s__Bacillus_A ff,False
4,s__Lactobacillus_H fermentum,s__Bacteroides_B vulgatus,s__Bacteroides_B vulgatus,True
5,s__Enterococcus faecalis,s__Bifidobacterium adolescentis,s__Bifidobacterium adolescentis,True
6,s__Staphylococcus aureus,s__Clostridium beijerinckii,s__Clostridium beijerinckii,True
7,s__Listeria monocytogenes_A,s__Cutibacterium acnes,s__Cutibacterium acnes,True
8,s__Listeria monocytogenes_B,s__Deinococcus radiodurans,s__Deinococcus radiodurans,True
9,s__Listeria monocytogenes,s__Enterococcus faecalis,s__Enterococcus faecalis,True
10,s__Bacillus subtilis_D,s__Escherichia coli,s__Escherichia coli,True
11,s__Saccharomyces group A,s__Helicobacter pylori_AS,s__Helicobacter pylori_AS,True
12,s__Cryptococcus neoformans,s__Lactobacillus gasseri,s__Lactobacillus gasseri,True
13,s__Bacillus marinus,s__Neisseria meningitidis,s__Neisseria meningitidis,True
14,s__Escherichia flexneri,s__Porphyromonas gingivalis,s__Porphyromonas gingivalis,True
15,None,s__Pseudomonas aeruginosa_A,s__Pseudomonas aeruginosa_A,True
16,None,s__Staphylococcus aureus,s__Staphylococcus aureus,True
17,None,s__Staphylococcus epidermidis,s__Staphylococcus epidermidis,True
18,None,s__Streptococcus agalactiae,s__Streptococcus agalactiae,True
19,None,s__Streptococcus mutans,s__Streptococcus mutans,True
20,None,s__Helicobacter pylori,s__Helicobacter pylori,True
21,None,s__Escherichia flexneri,s__Escherichia flexneri,True
22,None,s__Pauljensenia odontolyticus_A,s__Pauljensenia odontolyticus_A,True

In [7]:
df = pd.read_csv('/Users/liam/Downloads/all_trusted_flex_v2_r322.txt', header=None, names=['controls'])
df[['name', 'foo', 'bar', 'run', 'CTL']] = df.controls.str.split('-', expand=True)
df
CTLs=set(df.CTL)
if len(CTLs) != 1 and CTLs.pop() != 'CTL':
    raise ValueError(f'Type should be CTL, only; {CTLs}')

df['control_type'] = df.name.str[:3]
df=df[['controls', 'name', 'run', 'control_type']]
df.value_counts('control_type')
df.sort_values('run', inplace=True)
df.tail(50).controls.to_csv('~/Downloads/hhhh.lof', index=False, header=None)

FileNotFoundError: [Errno 2] No such file or directory: '/Users/liam/Downloads/all_trusted_flex_v2_r322.txt'

In [ ]:
df = pd.read_csv('/Users/liam/Downloads/R388/CPG/sp_test/profiles_counts_background/profile_summary_stats.tsv', sep='\t')
df.Taxon

0            s__Acetatifactor sp900066565
1          s__Adlercreutzia equolifaciens
2                 s__Agathobacter rectale
3      s__Agathobaculum butyriciproducens
4            s__Akkermansia muciniphila_B
                      ...
112                s__UBA1417 sp003531055
113                    s__UBA3818 MIC8425
114                    s__UBA7160 MIC6745
115                    s__UBA7160 MIC9207
116                    s__UBA7182 MIC8422
Name: Taxon, Length: 117, dtype: object

In [ ]:
dfh= pd.read_csv('/Users/liam/Downloads/PRJEB38148_human.csv', index_col=0)
print(dfh.shape)

dfh.head(2)

(369, 42)

,Assay Type,AvgSpotLen,Bases,bio_material,BioProject,BioSample,Bytes,Center Name,Consent,DATASTORE filetype,...,SRA Study,Submitter_Id,diet,days_post_colonization,donor_microbiota,experimental_group,Isolator,Mouse_ID,Collection_day,Participant_ID
Run,,,,,,,,,,,,,,,,,,,,,
ERR5261198,OTHER,269,7990595975,Stool,PRJEB38148,SAMEA7772329,2814020302,WASHINGTON UNIVERSITY CENTER FOR GENOME SCIENCES,public,"fastq,sra",...,ERP121534,PF_S.13_Day19,Pea fiber (2 snacks a day),NaN,NaN,NaN,NaN,NaN,19.0,S.13
ERR5261199,OTHER,265,6859111259,Stool,PRJEB38148,SAMEA7772328,2276073800,WASHINGTON UNIVERSITY CENTER FOR GENOME SCIENCES,public,"fastq,sra",...,ERP121534,PF_S.13_Day18,Pea fiber (2 snacks a day),NaN,NaN,NaN,NaN,NaN,18.0,S.13

In [ ]:
dfjoel= pd.read_csv('/Users/liam/Downloads/PRJEB38148.metadata.tsv', sep='\t', index_col=3, header=None)
print(dfjoel.shape)

dfjoel.head(2)

(363, 6)

                     0             1           2    4              5      6
3
ERR5349076  PRJEB38148  SAMEA7772053  ERX5137452  HS2  2Fib4Fib_S.09  Day11
ERR5349077  PRJEB38148  SAMEA7772052  ERX5137453  HS2  2Fib4Fib_S.09  Day10

In [ ]:
df = dfh.join(dfjoel, how='inner')
print(df.shape)
df.head()

(363, 48)

,Assay Type,AvgSpotLen,Bases,bio_material,BioProject,BioSample,Bytes,Center Name,Consent,DATASTORE filetype,...,Isolator,Mouse_ID,Collection_day,Participant_ID,0,1,2,4,5,6
ERR5261198,OTHER,269,7990595975,Stool,PRJEB38148,SAMEA7772329,2814020302,WASHINGTON UNIVERSITY CENTER FOR GENOME SCIENCES,public,"fastq,sra",...,NaN,NaN,19.0,S.13,PRJEB38148,SAMEA7772329,ERX5051565,HS1,PF_S.13,Day19
ERR5261199,OTHER,265,6859111259,Stool,PRJEB38148,SAMEA7772328,2276073800,WASHINGTON UNIVERSITY CENTER FOR GENOME SCIENCES,public,"fastq,sra",...,NaN,NaN,18.0,S.13,PRJEB38148,SAMEA7772328,ERX5051566,HS1,PF_S.13,Day18
ERR5261201,OTHER,264,6016100973,Stool,PRJEB38148,SAMEA7772330,2001778622,WASHINGTON UNIVERSITY CENTER FOR GENOME SCIENCES,public,"sra,fastq",...,NaN,NaN,20.0,S.13,PRJEB38148,SAMEA7772330,ERX5051568,HS1,PF_S.13,Day20
ERR5261202,OTHER,264,5721647335,Stool,PRJEB38148,SAMEA7772334,1886994029,WASHINGTON UNIVERSITY CENTER FOR GENOME SCIENCES,public,"sra,fastq",...,NaN,NaN,36.0,S.13,PRJEB38148,SAMEA7772334,ERX5051569,HS1,PF_S.13,Day36
ERR5261204,OTHER,268,6275097722,Stool,PRJEB38148,SAMEA7772335,2100540392,WASHINGTON UNIVERSITY CENTER FOR GENOME SCIENCES,public,"fastq,sra",...,NaN,NaN,39.0,S.13,PRJEB38148,SAMEA7772335,ERX5051571,HS1,PF_S.13,Day39

In [ ]:
df = pd.DataFrame(list())
for sample_id, mac_summary in classify_files.items():
    try:
        summ_df = pd.read_csv(mac_summary, sep="\t")
        if 'None' in summ_df.columns:
            self.log.warn(f'No MGDB-ANI-CLASSIFY summary found for sample {sample_id}. Marking as None.')
            df.loc[sample_id, 'Query species assignment'] = 'None'
            df.loc[sample_id, 'Query taxonomy'] = 'None'
            df.loc[sample_id, 'Closest representative'] = 'None'
            df.loc[sample_id, 'ANI'] = 'None'
            df.loc[sample_id, 'AF'] = 'None'
            df.loc[sample_id, 'Representative taxonomy'] = 'None'

        else:
            df.loc[sample_id, 'Query species assignment'] = summ_df.iloc[0]['Query species assignment']
            df.loc[sample_id, 'Query taxonomy'] = summ_df.iloc[0]['Query taxonomy']
            df.loc[sample_id, 'Closest representative'] = summ_df.iloc[0]['Closest representative']
            df.loc[sample_id, 'ANI'] = summ_df.iloc[0]['ANI']
            df.loc[sample_id, 'AF'] = summ_df.iloc[0]['AF']
            df.loc[sample_id, 'Representative taxonomy'] = \
                summ_df.iloc[0]['Representative taxonomy']
    except Exception:
        self.log.error(f"MGDB-ANI-CLASSIFY results are incomplete. Review file {mac_summary}")
        raise
df.index.name = 'Sample'

In [ ]:
series = []

summ_df = pd.read_csv('/Users/liam/Downloads/testa/BBL6672-PFG3-LFG2-R385-BUG.sp_classification.tsv', sep="\t", index_col=0)
summ_df

,Query species assignment,Query taxonomy,Closest representative,ANI,AF,Representative taxonomy
Query ID,,,,,,
BBL6672-PFG3-LFG2-R385-BUG,s__Bifidobacterium adolescentis,d__Bacteria;p__Actinobacteriota;c__Actinobacte...,G000010425,97.8854,0.857759,d__Bacteria;p__Actinobacteriota;c__Actinobacte...

In [ ]:
sample_id='gg'
new_df = []
sample_IDs=['BBL6672-PFG3-LFG2-R385-BUG', 'BBL6672-PFG3-LFG2-R385-BUG2']
cols = ['Query species assignment', 'Query taxonomy', 'Closest representative', 'ANI', 'AF', 'Representative taxonomy']
for sample_ID in sample_IDs:
    summ_df = pd.read_csv(f'/Users/liam/Downloads/testa/{sample_ID}.sp_classification.tsv', sep="\t", index_col=0)
    if 'None' in summ_df.columns:
        #print(111,pd.Series({k: 'None' for k in cols}, name=sample_ID), '\n')
        new_df.append(pd.Series({k: 'None' for k in cols}, name=sample_ID))
    else:
        #print(2222,summ_df.T[sample_ID])
        new_df.append(summ_df.T[sample_ID])
df = pd.DataFrame(new_df)
df.index.name = 'Sample'
df

,Query species assignment,Query taxonomy,Closest representative,ANI,AF,Representative taxonomy
Sample,,,,,,
BBL6672-PFG3-LFG2-R385-BUG,s__Bifidobacterium adolescentis,d__Bacteria;p__Actinobacteriota;c__Actinobacte...,G000010425,97.8854,0.857759,d__Bacteria;p__Actinobacteriota;c__Actinobacte...
BBL6672-PFG3-LFG2-R385-BUG2,None,None,None,None,None,None

In [ ]:
d = {'a': 1, 'b': 2, 'c': 3}

ser = pd.Series({'a': 1, 'b': 2, 'c': 3}, name='gg')

ser

a    1
b    2
c    3
Name: gg, dtype: int64

In [ ]:
p='/Users/liam/Downloads/testa/'
samples= ['AssemblySummary1','AssemblySummary2']
df = pd.DataFrame(list())
for sample_id in samples:
    with open(p+sample_id+'.txt') as f:
        for line in f:
            line_split = line.split()
            if len(line_split) == 0:
                continue
            if line_split[0] == '#':
                continue
            if line_split[0].lower() == 'contamination':
                df.loc[sample_id, 'Contamination'] = line_split[-1]
            elif line_split[0].lower() == 'completeness':
                df.loc[sample_id, 'Completeness'] = line_split[-1]
            elif line_split[0].upper() == 'N50':
                if sample_id in df.index:
                    if pd.isnull(df.loc[sample_id, 'N50']):
                        df.loc[sample_id, 'N50'] = line_split[-1]
                else:
                    df.loc[sample_id, 'N50'] = line_split[-1]
df.index.name = 'Sample'
df

                      N50 Completeness Contamination
Sample
AssemblySummary1  1389366       100.00          0.00
AssemblySummary2  1399366        90.00          0.00

In [ ]:
d = defaultdict(dict)
col_names = ['contamination', 'completeness', 'N50']
p='/Users/liam/Downloads/testa/'
samples= ['AssemblySummary1','AssemblySummary2']
for sample_id in samples:
    with open(p+sample_id+'.txt') as f:
        for line in f:
            bits = line.strip().split()
            if len(bits) == 2 and bits[0] in col_names:
                d[sample_id].setdefault(bits[0].capitalize(), bits[1])
                print(sample_id, d)
df = pd.DataFrame.from_dict(d, orient='index')
df.index.name = 'Sample'

df

AssemblySummary1 defaultdict(<class 'dict'>, {'AssemblySummary1': {'N50': '1389366'}})
AssemblySummary1 defaultdict(<class 'dict'>, {'AssemblySummary1': {'N50': '1389366'}})
AssemblySummary1 defaultdict(<class 'dict'>, {'AssemblySummary1': {'N50': '1389366'}})
AssemblySummary1 defaultdict(<class 'dict'>, {'AssemblySummary1': {'N50': '1389366', 'Completeness': '100.00'}})
AssemblySummary1 defaultdict(<class 'dict'>, {'AssemblySummary1': {'N50': '1389366', 'Completeness': '100.00', 'Contamination': '0.00'}})
AssemblySummary2 defaultdict(<class 'dict'>, {'AssemblySummary1': {'N50': '1389366', 'Completeness': '100.00', 'Contamination': '0.00'}, 'AssemblySummary2': {'N50': '1399366111'}})
AssemblySummary2 defaultdict(<class 'dict'>, {'AssemblySummary1': {'N50': '1389366', 'Completeness': '100.00', 'Contamination': '0.00'}, 'AssemblySummary2': {'N50': '1399366111'}})
AssemblySummary2 defaultdict(<class 'dict'>, {'AssemblySummary1': {'N50': '1389366', 'Completeness': '100.00', 'Contamination': '0.00'}, 'AssemblySummary2': {'N50': '1399366111'}})
AssemblySummary2 defaultdict(<class 'dict'>, {'AssemblySummary1': {'N50': '1389366', 'Completeness': '100.00', 'Contamination': '0.00'}, 'AssemblySummary2': {'N50': '1399366111', 'Completeness': '90.00'}})
AssemblySummary2 defaultdict(<class 'dict'>, {'AssemblySummary1': {'N50': '1389366', 'Completeness': '100.00', 'Contamination': '0.00'}, 'AssemblySummary2': {'N50': '1399366111', 'Completeness': '90.00', 'Contamination': '0.00'}})

                         N50 Completeness Contamination
Sample
AssemblySummary1     1389366       100.00          0.00
AssemblySummary2  1399366111        90.00          0.00

In [ ]:
p='/Users/liam/Downloads/testa/'
samples= ['AssemblySummary1','AssemblySummary2']
col_names = ['contamination', 'completeness', 'N50']
df = pd.concat([
        pd.read_csv(
                p+sample_id+'.txt',
                sep='\t',
                skip_blank_lines=True,
                index_col=None,
                names=['foo', sample_id])
        .query(f'foo in {col_names}')
        .reset_index(drop=True)
        .drop([1,2])
        .set_index('foo') 
        .T
        for sample_id in samples
        ])
df.columns = map(str.capitalize, col_names)
df.index.name = 'Sample'

df

                 Contamination Completeness   N50
Sample
AssemblySummary1       1389366       100.00  0.00
AssemblySummary2       1399366        90.00  0.00

In [ ]:
df = pd.read_csv(
    p+sample_id+'.txt',
    sep='\t',
    skip_blank_lines=True,
    index_col=None,
    names=['a', sample_id]) \
    .query(f'a in {col_names}') \
    .reset_index(drop=True) \
    .drop([1,2]) \
    .set_index('a') \
    .T
#df.index = ['sa']
df

a                     N50 completeness contamination
AssemblySummary2  1399366        90.00          0.00

In [ ]:

df = pd.concat([
    pd.read_csv(assembly_summary, comment='#', sep=' ') for sample_id, assembly_summary in assembly_files.items()
])

In [ ]:
with open('/Users/liam/Downloads/r394_release_IDs.txt') as fin:
    ids = []
    for line in fin:
        ids.append(line.strip())

In [ ]:
with open('/Users/liam/Downloads/r394_all_ids.txt') as fin, open('/Users/liam/Downloads/r394_fin.txt', 'w') as fout:
    for line in fin:
        if line.strip().split('_')[0] in ids:
            fout.write(line)

In [ ]:
with open('/Users/liam/Downloads/MBS-1342_attachments/R396.commands_PST.sh', 'r') as fin:
    ids103=[]
    bb_ids103=[]
    for line in fin:
        ids103.append(line.strip().split()[7])
        bb_ids103.append(line.strip().split()[7].split('-')[0])
len(ids103), ids103[:4], bb_ids103[:4]

(103,
 ['BBC7235-PFH0-LFH0-R396-FSS',
  'BBC9835-PFH0-LFH0-R396-FSS',
  'BBD1787-PFH0-LFH0-R396-FSS',
  'BBF2314-PFH0-LFH0-R396-FSS'],
 ['BBC7235', 'BBC9835', 'BBD1787', 'BBF2314'])

In [ ]:
with open('/Users/liam/Downloads/ids_94.txt', 'r') as fin:
    ids94=[]
    for line in fin:
        ids94.append(line.strip())
len(ids)

94

In [ ]:
set(ids94).difference(set(bb_ids103))

set()

In [ ]:
set(bb_ids103).difference(set(ids94))

{'BBJ7165',
 'BBJ7283',
 'BBK9725',
 'BBK9727',
 'BBK9732',
 'BBK9737',
 'BBK9756',
 'BBK9775',
 'BBK9816'}

In [ ]:
def a():
    return 1,

x, = a()
x

1

In [ ]:
from enum import Enum
class Color(Enum):
    ['ff'] = 1
    GREEN = 2
    BLUE = 3

Color(1)

In [ ]:
from enum import Enum


class Season(Enum):
    SPRING = 1
    SUMMER = 2
    AUTUMN = 3
    WINTER = 4


seas = Season.SPRING
print(111,seas)

if seas == Season.SPRING:
    print("Spring")

print(list(Season))

111 Season.SPRING
Spring
[<Season.SPRING: 1>, <Season.SUMMER: 2>, <Season.AUTUMN: 3>, <Season.WINTER: 4>]

In [ ]:
from enum import Enum
class Color(Enum):
    RED = 1
    GREEN = 2
    BLUE = 3

In [ ]:
a = Color['RED']
a.name + 'a'

'REDa'